electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=xfJ2RBo5MISsU7uV5tAPK939X7qkKkOwmZ8sAgIaTw9U2D3xZcHrtQTyk7VrGJHp